.pedido{
    border-radius: 8px;
}
.pedido a{
    color: black;
    text-decoration: none;
}
.pedido:hover{
    color: black;
    background-color: rgb(238, 238, 238);
}

.img-pedido{
    width: 80px;
    border-radius: 8px;
}

.avaliacao span{
    color: black;
    font-size: 14px;
    padding: 4px;
}

.pedido-avaliar{
    cursor: pointer;
}